body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    /* background: linear-gradient(135deg, rgb(234, 100, 11), rgb(255, 153, 0)); */
}

img {
    width: 250px;
    height: 100%;
}

.outer {
    height: 100%;
    width: 100%;
}

.content {
    width: fit-content;
    height: fit-content;
    max-width: 700px;
}

aside {
    width: fit-content;
}

p {
    text-align: justify;
}